.form,
.greeings{
    display: none;
}

.showing {
    display: block;
}

body{
    color: #34495e;
    transition: color 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.bgImage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn 0.7s linear;
}